<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Perspective</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="app">

	<div class="wrapper">
		<h1>Perspective</h1>
		<p>Your life as a progress bar&hellip;</p>
		<p>
			I am a
			<input type="number" name="age" min="0" max="100" required v-model="age">
			year old
			<select name="gender" required v-model="gender">
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
			in
			<select name="country" required v-model="country">
				<template v-for="country in countries">
					<option value="{{ country }}">{{ country }}</option>
				</template>
			</select>
		</p>
	</div>

	<div class="progress" v-bind:style="{ width: percent + '%' }"></div>

	<script src="db.js"></script>
	<script src="vue.js"></script>
	<script src="app.js"></script>

</body>
</html>
