html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body, input, select {
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
	padding: 1.6em;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	justify-content: center;
}

h1 { margin: 0; }
p { margin: .5em 0 1em 0; }

.wrapper {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
	text-align: center;
	position: relative;
	z-index: 1;
}

.progress {
	background: #3498db;
	background: rgba(52, 152, 219, .75);
	background: #2ecc71;
	background: rgba(46, 204, 113, .75);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	transition: width .5s;
}

input,
select,
datalist {
	padding: 5px;
	margin-bottom: .5em;
	border: 2px solid #27ae60;
	border-radius: 5px;
	background: white;
}

select { padding: 4px; }

input:focus,
select:focus,
datalist:focus {
	outline: none;
	border-color: #e67e22;
}